:host {
  display: block;
  position: relative;
  background-color: #1e1e1e;
  color: #ffffff;

  ::ng-deep p {
    margin: 0;
    padding: 24px 24px 0;
  }
}

button {
  position: absolute;
  transform: translateY(calc(-100% - 8px));
  right: 0;
  font-size: 12px;
}
