<div class="tabs">
  <swiper
    [slidesPerView]="'auto'"
    [freeMode]="true"
    class="tabs__bar flex-row"
  >
    <ng-template swiperSlide *ngFor="let tab of tabs; let i = index">
      <button
        class="tabs__bar-button"
        [class.tabs__bar-button--active]="tab === selectedTab"

        (click)="setActive(tab)"
      >
        {{ tab.name }}
      </button>
    </ng-template>
  </swiper>

  <div class="tabs__content">
    <markdown [src]="selectedTab.src"></markdown>
  </div>
</div>