.demo-title {
  i {
    margin-right: 15px;
  }
}

.dark {
  background: rgb(33, 37, 41);
}

.balloon,
.checkbox,
.input,
.list,
.radio,
.select,
.table,
.textarea {
  margin: 0 -15px;
  padding: 15px;

  &.dark + p {
    margin-top: 15px;
  }
}

.message {
  &--left,
  &--right {
    align-items: flex-end;
  }

  &--left {
    flex-wrap: wrap-reverse;
  }

  &--right {
    place-content: flex-end;

    .nes-balloon {
      flex: 1;
      max-width: 660px;
    }
  }
}

.radio {
  nes-radio-group {
    display: flex;
    gap: 20px;
  }
}

section {
  margin: 40px 0;
}
