<h1 class="demo-title">
  <i class="snes-jp-logo brand-logo"></i>
  <span>ngx-nes-css</span>
</h1>

<p>
  Demo is based on <a href="https://nostalgic-css.github.io/NES.css/">NES.css</a> documentation page.
</p>

<section>
  <nes-container title="Texts">
    <div class="flex-row flex-wrap">
      <span>Default</span>
      <span nes-text color="primary">Primary</span>
      <span nes-text color="success">Success</span>
      <span nes-text color="warning">Warning</span>
      <span nes-text color="error">Error</span>
      <span nes-text [disabled]="true">Disabled</span>
    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Buttons">
    <div class="flex-row flex-wrap">
      <a nes-button href="#">Normal</a>

      <button nes-button color="primary">Primary</button>
      <button nes-button color="success">Success</button>
      <button nes-button color="warning">Warning</button>
      <button nes-button color="error">Error</button>
      <button nes-button [disabled]="true">Disabled</button>

      <label nes-button>
        <span>Select your file</span>
        <input type="file">
      </label>
    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Radios">
    <div class="flex-column">

      <div class="radio">
        <nes-radio-group name="answerLight" [(ngModel)]="radioAnswerLight">
          <nes-radio-option value="Yes">Yes</nes-radio-option>
          <nes-radio-option value="No">No</nes-radio-option>
        </nes-radio-group>
      </div>

      <p>Selected Answer: {{ radioAnswerLight }}</p>

      <div class="radio dark">
        <nes-radio-group name="answerDark" [dark]="true" [(ngModel)]="radioAnswerDark">
          <nes-radio-option value="Yes">Yes</nes-radio-option>
          <nes-radio-option value="No">No</nes-radio-option>
        </nes-radio-group>
      </div>

      <p>Selected Answer: {{ radioAnswerDark }}</p>

    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Checkboxes">
    <div class="flex-column">

      <div class="checkbox">
        <nes-checkbox [checked]="checkboxLight" (change)="checkboxLight = $event">Enable</nes-checkbox>
      </div>

      <p>Checkbox is: {{ checkboxLight ? 'checked' : 'unchecked' }}</p>

      <div class="checkbox dark">
        <nes-checkbox [(ngModel)]="checkboxDark" [dark]="true">Dark</nes-checkbox>
      </div>

      <p>Checkbox is: {{ checkboxDark ? 'checked' : 'unchecked' }}</p>

    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Inputs">
    <div class="flex-column flex-wrap">

      <nes-input-field id="name_field" label="Your name">
        <input nes-input [(ngModel)]="inputValue" />
      </nes-input-field>

      <p>Input value: {{ inputValue }}</p>

      <nes-input-field id="inline_field" label="Success" [inline]="true">
        <input nes-input color="success" placeholder="NES.css" />
      </nes-input-field>

      <nes-input-field id="warning_field" label="Warning" [inline]="true">
        <input nes-input color="warning" placeholder="8bit.css" />
      </nes-input-field>

      <nes-input-field id="error_field" label="Error" [inline]="true">
        <input nes-input color="error" placeholder="awesome.css" />
      </nes-input-field>

      <div class="input dark">
        <nes-input-field id="dark_field" label="Dark" [inline]="true" [dark]="true">
          <input nes-input placeholder="dark.css" />
        </nes-input-field>
      </div>

    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Textarea">
    <div class="flex-column flex-wrap">

      <nes-textarea-field id="comment_field" label="Textarea">
        <textarea nes-textarea [(ngModel)]="textareaValue"></textarea>
      </nes-textarea-field>

      <p>Textarea value: {{ textareaValue }}</p>

      <nes-textarea-field id="inline_field" label="Success" [inline]="true">
        <textarea nes-textarea color="success" placeholder="NES.css"></textarea>
      </nes-textarea-field>

      <nes-textarea-field id="warning_field" label="Warning" [inline]="true">
        <textarea nes-textarea color="warning" placeholder="8bit.css"></textarea>
      </nes-textarea-field>

      <nes-textarea-field id="error_field" label="Error" [inline]="true">
        <textarea nes-textarea color="error" placeholder="awesome.css"></textarea>
      </nes-textarea-field>

      <div class="textarea dark">
        <nes-textarea-field id="dark_field" label="Dark" [inline]="true" [dark]="true">
          <textarea nes-textarea placeholder="dark.css"></textarea>
        </nes-textarea-field>
      </div>

    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Selects">
    <div class="flex-column flex-wrap">

      <nes-select-field id="default_select" label="Default">
        <select nes-select required [(ngModel)]="selectValue">
          <option value="" disabled selected hidden>Select...</option>
          <option>To be</option>
          <option>Not to be</option>
        </select>
      </nes-select-field>

      <p>Selected value: {{ selectValue }}</p>

      <nes-select-field id="success_select" label="Success" [inline]="true" >
        <select nes-select color="success" required>
          <option value="" disabled selected hidden>Select...</option>
          <option value="To be">To be</option>
          <option value="Not to be">Not to be</option>
        </select>
      </nes-select-field>

      <nes-select-field id="warning_select" label="Warning" [inline]="true" >
        <select nes-select color="warning" required>
          <option value="" disabled selected hidden>Select...</option>
          <option value="To be">To be</option>
          <option value="Not to be">Not to be</option>
        </select>
      </nes-select-field>

      <nes-select-field id="error_select" label="Error" [inline]="true" >
        <select nes-select color="error" required>
          <option value="" disabled selected hidden>Select...</option>
          <option value="To be">To be</option>
          <option value="Not to be">Not to be</option>
        </select>
      </nes-select-field>

      <div class="select dark">
        <nes-select-field id="dark_select" label="Dark" [inline]="true" [dark]="true">
          <select nes-select required>
            <option value="" disabled selected hidden>Select...</option>
            <option value="To be">To be</option>
            <option value="Not to be">Not to be</option>
          </select>
        </nes-select-field>
      </div>

    </div>

  </nes-container>
</section>

<section>
  <nes-container title="Containers">
    <div class="flex-column flex-wrap">
      <nes-container>
        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
      </nes-container>

      <nes-container title="Centered" [centered]="true">
        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
      </nes-container>

      <nes-container title="Dark" [dark]="true">
        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
      </nes-container>

      <nes-container title="Rounded" [rounded]="true">
        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
      </nes-container>

      <nes-container title="Dark Rounded" [dark]="true" [rounded]="true">
        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
      </nes-container>
    </div>
  </nes-container>
</section>

<!--<nes-container title="Dialogs">
  Dialog
  <section>
    <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-default').showModal();">
      Open dialog
    </button>
    <dialog class="nes-dialog" id="dialog-default">
      <form method="dialog">
        <p class="title">Dialog</p>
        <p>Alert: this is a dialog.</p>
        <menu class="dialog-menu">
          <button class="nes-btn">Cancel</button>
          <button class="nes-btn is-primary">Confirm</button>
        </menu>
      </form>
    </dialog>
  </section>

  Dark dialog
  <section>
    <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-dark').showModal();">
      Open dark dialog
    </button>
    <dialog class="nes-dialog is-dark" id="dialog-dark">
      <form method="dialog">
        <p class="title">Dark dialog</p>
        <p>Alert: this is a dialog.</p>
        <menu class="dialog-menu">
          <button class="nes-btn">Cancel</button>
          <button class="nes-btn is-primary">Confirm</button>
        </menu>
      </form>
    </dialog>
  </section>

  Rounded dialog
  <section>
    <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-rounded').showModal();">
      Open rounded dialog
    </button>
    <dialog class="nes-dialog is-rounded" id="dialog-rounded">
      <form method="dialog">
        <p class="title">Rounded dialog</p>
        <p>Alert: this is a dialog.</p>
        <menu class="dialog-menu">
          <button class="nes-btn">Cancel</button>
          <button class="nes-btn is-primary">Confirm</button>
        </menu>
      </form>
    </dialog>
  </section>

  Dark and Rounded dialog
  <section>
    <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-dark-rounded').showModal();">
      Open dark and rounded dialog
    </button>
    <dialog class="nes-dialog is-dark is-rounded" id="dialog-dark-rounded">
      <form method="dialog">
        <p class="title">Dark and Rounded dialog</p>
        <p>Alert: this is a dialog.</p>
        <menu class="dialog-menu">
          <button class="nes-btn">Cancel</button>
          <button class="nes-btn is-primary">Confirm</button>
        </menu>
      </form>
    </dialog>
  </section>
</nes-container>-->

<section>
  <nes-container title="Lists">

    <div class="list">
      <ul nes-list list-type="disc">
        <li>Good morning.</li>
        <li>Thou hast had a good night's sleep, I hope.</li>
        <li>Thou hast had a good afternoon</li>
        <li>Good night.</li>
      </ul>

      <ul nes-list list-type="circle">
        <li>Good morning.</li>
        <li>Thou hast had a good night's sleep, I hope.</li>
        <li>Thou hast had a good afternoon</li>
        <li>Good night.</li>
      </ul>
    </div>

    <div class="list dark">
      <ul nes-list list-type="disc" [dark]="true">
        <li>Good morning.</li>
        <li>Thou hast had a good night's sleep, I hope.</li>
        <li>Thou hast had a good afternoon</li>
        <li>Good night.</li>
      </ul>

      <ul nes-list list-type="circle" [dark]="true">
        <li>Good morning.</li>
        <li>Thou hast had a good night's sleep, I hope.</li>
        <li>Thou hast had a good afternoon</li>
        <li>Good night.</li>
      </ul>
    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Tables">
    <div class="flex-column flex-wrap">

      <div nes-table-responsive>
        <table nes-table [bordered]="true" [centered]="true">
          <thead>
            <tr>
              <th>Table.is-bordered</th>
              <th>Table.is-centered</th>
              <th>Table.is-centered</th>
              <th>Table.is-centered</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Thou hast had a good morning</td>
              <td>Thou hast had a good afternoon</td>
              <td>Thou hast had a good evening</td>
              <td>Thou hast had a good night</td>
            </tr>
            <tr>
              <td>Thou hast had a good morning</td>
              <td>Thou hast had a good afternoon</td>
              <td>Thou hast had a good evening</td>
              <td>Thou hast had a good night</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table dark">

        <div nes-table-responsive>
          <table nes-table [bordered]="true" [dark]="true">
            <thead>
              <tr>
                <th>Table.is-dark</th>
                <th>Table.is-bordered</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Thou hast had a good morning</td>
                <td>Thou hast had a good afternon</td>
              </tr>
              <tr>
                <td>Thou hast had a good morning</td>
                <td>Thou hast had a good afternoon</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Progress">
    <div class="flex-column flex-wrap">
      <nes-progress [value]="progress$ | async" [max]="100"></nes-progress>
      <nes-progress color="primary" [value]="80" [max]="100"></nes-progress>
      <nes-progress color="success" [value]="50" [max]="100"></nes-progress>
      <nes-progress color="warning" [value]="30" [max]="100"></nes-progress>
      <nes-progress color="error" [value]="10" [max]="100"></nes-progress>
      <nes-progress color="pattern" [value]="50" [max]="100"></nes-progress>
    </div>
  </nes-container>
</section>

<section>
  <nes-container title="Avatars">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Balloons">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Cursor">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Badges">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Reaction-icons">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Sns-icons">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Other-icons">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Pixel-arts">
    Soon to come...
  </nes-container>
</section>

<section>
  <nes-container title="Nintendo-characters">
    Soon to come...
  </nes-container>
</section>
