.demo-title {
  i {
    margin-right: 15px;
  }
}

.dark {
  background: rgb(33, 37, 41);
}

.checkbox,
.input,
.radio,
.textarea {
  margin: 0 -15px;
  padding: 15px;

  &.dark + p {
    margin-top: 15px;
  }
}

section {
  margin: 40px 0;
}
