/**
 * NES.css styles
 */

@import "nes.css/css/nes.css";

/**
 * ngx-nes-css styles
 */

@import "ngx-nes-css/css/styles.css";

/**
 * Cdk/Overlay prebuilt styles
 */

@import "@angular/cdk/overlay-prebuilt.css";

/**
 * Press Start 2P font
 */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/**
 * Native elements
 */

html,
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

body {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}

/**
 * Flex utilities
 */

.flex-wrap {
  flex-wrap: wrap;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}
